* {
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
}
 

body {
    background-color: #f6f8fc;
}

.content {
    block-size: 100vh;
    inline-size: 100vw;
    padding: 1rem;
    background-color: #fff;

}

@media screen and (min-inline-size: 992px) {}

.content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
}

.content h1 {
    margin: 0;
}
 